.selection-entry > div {
  display: inline-block;
  padding: 4px 0 4px 15px;
  min-width: 100px;
}

.click-box {
  width: 19px;
  height: 19px;
  border-radius: 4px;
  border: 1px solid #b0b0b0;
  margin-left: 20px;
}

.selection-entry .mat-pseudo-checkbox-checked {
  background: var(--dark-blue);
}

.mat-pseudo-checkbox-checked::after {
  top: 5px;
  left: 3.2px;
  width: 8px;
  height: 3px;
}

.multi-select-holder {
  max-height: 250px;
  overflow-y: auto;
}

.multi-select-holder::-webkit-scrollbar {
  width: 8px;
}

.multi-select-holder::-webkit-scrollbar-track {
  border: 1px solid var(--light-blue);
  border-radius: 4px;
}

.multi-select-holder::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 4px;
}
