/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
  background: #303236;
}
.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: white;
  font-size: 120%;
}

.home-menu .home-title {
  font-size: 70%;
  text-transform: none;
  display: none;
  visibility: hidden;
  padding: 0px;
}

.home-menu .pure-menu-list {
  margin: 0.5em 0em;
}

.home-menu .pure-menu-item {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.home-menu a {
  color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  /* We can align the menu header to the left, but float the
  menu items to the right. */
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }

  /* We increase the height of the splash-container */
  /*    .splash-container {
          height: 500px;
      }*/

  /* We decrease the width of the .splash, since we have more width
  to work with */
  .splash {
    width: 50%;
    height: 50%;
  }

  .splash-head {
    font-size: 250%;
  }


  /* We remove the border-separator assigned to .l-box-lrg */
  .l-box-lrg {
    border: none;
  }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }

  .home-menu .menu-icon {
    padding-left: 20px;
    padding-bottom: 7px;
  }

  .home-menu .home-title {
    visibility: visible;
    display: block;
  }

  .home-menu .pure-menu-list {
    margin: 0.8em 0em;
  }
}
