* {
  text-align: left;
}

.container {
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    bottom: 0;
}

.filter-container {
    z-index: 3;
}

.map-holder-style {
    flex: 1;
}

.main-view {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.sub-container {
    height: 100%;
}

.switch-container{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px;
}

/**
* Switch styles
*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--dark-blue);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--dark-blue);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {
    .container {
        top: 67px;
    }
    
}

/*
* -- DESKTOP (AND UP) MEDIA QUERIES --
* On desktops and other large devices, we want to over-ride some
* of the mobile and tablet styles.
*/
@media (min-width: 78em) {
    .container {
        top: 80px;
    }
}