* {
  text-align: left;
}

.container {
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  bottom: 0;
}

.filter-container {
  z-index: 3;
  margin-top: 8px;
  margin-bottom: 8px;
}

.control-container {
  position: relative;
}

.control-container:after {
  content: "";
  position: absolute;
  z-index: 4;
  box-shadow: 0 -3px 0px rgba(255, 255,255, 1), 0 2px 4px 0 rgba(0, 0, 0, .10);
  left: 0;
  right: 0;
  height: 4px;
  bottom: 0;
}

.map-holder-style {
  height: 100%;
  position: relative;

  -webkit-transition: .4s;
  transition: .4s;
}

.map-holder-style.pure-u-1 {
  width: 100%;

  -webkit-transition: .4s;
  transition: .4s;
}

.main-view {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.sub-container {
  height: 100%;
}

.switch-container{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 17px 31px 17px 10px;
}

.switch-label {
  margin: auto 12px auto 0;
  font-family: var(--text-font);
}

.switch-container > * {
  text-transform: uppercase;
  display: inline-block;
}

/**
* Results holder
*/
.results-holder {
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
  background-color: var(--light-backgrnd);
}

.hide-container {
  position: absolute;
  right: -30px;
  width: 30px;
  height: 45px;
  z-index: 4;
  cursor: pointer;
  background-color: var(--dark-grey);
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
}

.hide-container img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.results-holder.hide {
  -webkit-transition: .4s;
  transition: .4s;
  width: 0;
}

.hide-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked {
  background-color: yellow;
}

/**
* Switch styles
*/
.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 41px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--orange-accent);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider i {
  position: absolute;
  content: "";
  padding: 6px 8px 6px 8px;
  height: 15px;
  width: 13px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid var(--orange-accent);
  color: var(--dark-grey);
}
input:checked + .slider {
  background-color: var(--orange-accent);
}

input:focus + .slider {
  box-shadow: 0 0 3px var(--orange-accent);
}

input:checked + .slider i {
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(31px);
  padding: 7px 6px 7px 7px;
  height: 14px;
  width: 15px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round i {
  border-radius: 50%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {
  .container {
    top: 67px;
  }

}

/*
* -- DESKTOP (AND UP) MEDIA QUERIES --
* On desktops and other large devices, we want to over-ride some
* of the mobile and tablet styles.
*/
@media (min-width: 78em) {
  .container {
    top: 77px;
  }
}
