<div class="graphics-holder pure-g">
  <div *ngIf="(myHistDefs$ | async)?.length > 0; else empty">
    <div [ngClass]="histogramClassStyle" *ngFor="let def of myHistDefs$ | async">
      <div class="card-margin" *ngIf="def != null">
        <viz-histogram [histogramDfn]="def">
        </viz-histogram>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div [ngClass]="histogramClassStyle">
      <div class="card-margin" id="no-results">
        <p>No Results for Selected Query</p>
      </div>
    </div>
  </ng-template>

</div>

 