<div class="search-bar-opts">
  <app-drop-down-button
    [selected]="selectedBtn[ButtonIds.COUNTRY]"
    [onOptSelected]="this.onSelectButton.bind(this)"
    [selection]="filters.country" 
    (selection)="filters.country=$event"
    [id]="ButtonIds.COUNTRY">
    <i class="fas fa-search btn-ico-margin"></i>
    <span>Seach country</span>
  </app-drop-down-button>

  <app-drop-down-button
    [selected]="selectedBtn[ButtonIds.INTERVENTION]"
    [onOptSelected]="this.onSelectButton.bind(this)"
    [opts$]="interventions$"
    [selection]="filters.intervention" 
    (selection)="filters.intervention=$event"
    [id]="ButtonIds.INTERVENTION">
    <span>Intervention</span>
  </app-drop-down-button>

  <app-drop-down-button
    [selected]="selectedBtn[ButtonIds.CROP]"
    [onOptSelected]="this.onSelectButton.bind(this)"
    [selection]="filters.crop" 
    (selection)="filters.crop=$event"
    [id]="ButtonIds.CROP">
    <i class="fas fa-seedling btn-ico-margin"></i>
    <span>Search crop</span>
  </app-drop-down-button>


  <app-drop-down-button
    [selected]="selectedBtn[ButtonIds.CLIMATE]"
    [onOptSelected]="this.onSelectButton.bind(this)"
    [selection]="filters.climate" 
    (selection)="filters.climate=$event"
    [id]="ButtonIds.CLIMATE">
    <span>Climate</span>
  </app-drop-down-button>


  <app-drop-down-button
    [selected]="selectedBtn[ButtonIds.SOIL]"
    [onOptSelected]="this.onSelectButton.bind(this)"
    [selection]="filters.soil" 
    (selection)="filters.soil=$event"
    [id]="ButtonIds.SOIL">
    <span>Soil</span>
  </app-drop-down-button>


  <app-drop-down-button
    [selected]="selectedBtn[ButtonIds.DURATION]"
    [onOptSelected]="this.onSelectButton.bind(this)"
    [selection]="filters.duration" 
    (selection)="filters.duration=$event"
    [id]="ButtonIds.DURATION">
    <span>Study duration</span>
  </app-drop-down-button>

  <div last-btn class="btn-holder" [class.selected]="selectedBtn[ButtonIds.APPLY]">
  <button mat-stroked-button class="apply-btn" (click)="onSelectButton(ButtonIds.APPLY, [])">Apply</button>
</div>

</div>
