.apply-btn {
  border-color: var(--orange-accent);
  border-radius: 2em;
  text-transform: uppercase;
  color: var(--dark-grey);
  font-weight: bold;
  height: 42px;
  letter-spacing: 0.05em;
}

.selected .apply-btn {
  background-color: var(--orange-accent);
  border-color: transparent;
}

.search-bar-opts div {
  padding: 8px;
  display: inline;
}

.search-bar-opts {
  display: inline-flex;
}

.btn-ico-margin {
  margin-right: 0.3em;
}
