<div *ngIf="!activeSelection" class="btn-holder">
  <button mat-stroked-button (click)="onButtonClick($event)" [class.selected]="selected">
    <ng-content></ng-content>
  </button>
</div>
<div *ngIf="activeSelection" class="btn-holder">
  <div class="search-container mat-stroked-button selected" (click)="sinkClickEvents($event)">
    <i class="fas fa-search btn-ico-margin"></i>
    <input #search_bar class="button-search" name="search" [(ngModel)]="searchString">
  </div>
  <div class="drop-down-holder" (click)="sinkClickEvents($event)">
    <div [style.marginTop]="dropDownMargin">
      <div class="arrow-up"></div>
      <div appFitToWindow [max-size]="395" class="white-round-edg">
        <div class="multi-select-dd">
          <div appFitToWindow [bottom-offset]="110" [max-size]="250" class="custom-scroll-bar">
            <app-multi-select-list #selection_list
                                   [filterStr]="searchString"
                                   [selected]="selectedOpts"
                                   [list$]="opts$"></app-multi-select-list>
          </div>
        </div>
        <div *ngIf="opts$ | async; else error" class="drop-down-btns">
          <div class="btn-holder">
            <button mat-button class="clear-btn" (click)="onClearClick($event)">Clear</button>
          </div>
          <div class="btn-holder" [class.selected]="existingSelection">
            <button mat-stroked-button class="apply-btn"
                    [class.selected]="onChangeApplyColour()"
                    (click)="onApplyClick($event)">Apply</button>
          </div>
        </div>
        <ng-template #error>
          <div class="drop-down-btns">
            <div class="btn-holder">
              <button mat-button disabled class="clear-btn" >Clear</button>
            </div>
            <div class="btn-holder" [class.selected]="existingSelection">
              <button mat-stroked-button disabled class="apply-btn">Apply</button>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>
