button {
  text-transform: uppercase;
  color: var(--dark-grey);
  font-weight: bold;
  height: 42px;
  letter-spacing: 0.05em;
}

.selected {
  color: var(--white-color);
  background-color: var(--dark-blue)
}

.selected i {
  color: var(--orange-accent);
}

.btn-holder {
  padding: 8px;
  display: inline-block;
}

.button-search {
  border: none;
  -webkit-appearance: none;
  outline: 0;
  font: var(--text-font);
  background-color: var(--dark-blue);
  margin: 1px 0;
}

.btn-ico-margin {
  margin-right: 0.3em;
}

.search-container {
  padding-top: 0;
  padding-bottom: 0;
  display: block;
}

.drop-down-holder {
  position: absolute;
  display: block;
}

.drop-down-pad {
  margin-top: 60px;
}

.white-round-edg {
  background-color: white;
  padding: 0;
  border-radius: 5px;
}

.drop-down-pad > div {
  display: block;
}

.drop-down-pad > div > div {
  display: block;
}


.clear-btn {
  color: var(--orange-accent);
}

.drop-down-btns {
  padding: 34px;
}

.drop-down-btns .btn-holder{
  padding: 0;
}


.apply-btn {
  border-color: var(--orange-accent);
  border-radius: 2em;
  text-transform: uppercase;
  color: var(--dark-grey);
  font-weight: bold;
  height: 42px;
  letter-spacing: 0.05em;
}

.selected.apply-btn {
  background-color: var(--orange-accent);
  border-color: transparent;
}

.arrow-up {
  width: 0;
  height: 0;
  padding: 0;
  margin-left: 20px;

  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-bottom: 12px solid white;
}

.multi-select-dd {
  margin: 0 15px;
  padding-top: 35px;
}
