<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Find the evidence you need</h1>
    <p class="splash-subhead">
      Hi I'm James, I am here to help you today with your questions about
      agriculture. Does organic perform better than conventional? Are GMO's
      better than non-GMOs? Is biochar all it's cracked up to be? What about
      intercropping? You can find answers to these questions and many more right
      here.
    </p>
    <div class="search-container">
      <p class="search-title">Which studies are you looking for?</p>
      <div class="seach-bar-opts-container">
        <app-filter-bar (onApply)="onApply($event)"></app-filter-bar>
      </div>
    </div>
  </div>
</div>
