<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Find the evidence you need</h1>
    <p class="splash-subhead">
        Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. 
    </p>
    <div class="search-container">
      <p class="search-title">Which studies are you looking for?</p>
      <div class="seach-bar-opts-container">
        <app-filter-bar (onApply)="onApply($event)"></app-filter-bar>
    </div>
  </div>
</div>
