<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Find the evidence you need</h1>
    <p class="splash-subhead">
        Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. 
    </p>
    <div class="search-container">
      <p class="search-title">Which studies are you looking for?</p>
      <div class="seach-bar-opts-container">
        <div class="search-bar-opts">
          <div first-btn class="btn-holder">
              <button mat-stroked-button>
                  <i class="fas fa-search btn-ico-margin"></i>
                  <span>Seach country</span>
                </button>
          </div>
          <div class="btn-holder">
              <button mat-stroked-button>Intervention</button>
          </div>
          <div class="btn-holder">
              <button mat-stroked-button>
                  <i class="fas fa-seedling btn-ico-margin"></i>
                  <span>Search crop</span>
                </button>
          </div>
          <div class="btn-holder">
              <button mat-stroked-button>Climate</button>
          </div>
          <div class="btn-holder">
              <button mat-stroked-button>Soil</button>
          </div>
          <div class="btn-holder">
              <button mat-stroked-button>Study duration</button>
          </div>
          <div last-btn class="btn-holder">
              <button mat-stroked-button class="apply-btn">Apply</button>
          </div>
      </div>
    </div>
  </div>
</div>
