p {
  margin: 15px 50px;
}

#warning {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#warning-picture {
  height: 200px;
  width: 80%;
  max-width: 300px;
  background-image: url("../../../assets/background/warning-picture.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
