p {
  font-family: "Roboto";
  margin-bottom: 0;
  font-weight: 200;
}

#warning {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  width: 250px;
}

#warning-picture {
  height: 200px;
  width: 60%;
  max-width: 200px;
  background-image: url("./../../../assets/background/warning-picture.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#warning-text-container {
  margin: 0px 50px;
  margin-top: 25px;
}
