
<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a href="" class="pure-menu-heading">
        <i class="menu-icon fas fa-tractor"></i>
        <a class="pure-menu-heading home-title" href="">AEvidence</a>
    </a>
    

    <ul class="pure-menu-list">
      <li class="pure-menu-item" [class.pure-menu-selected]="view === 1"><a href="/about" class="pure-menu-link">About</a></li>
      <li class="pure-menu-item" [class.pure-menu-selected]="view === 2"><a href="/map" class="pure-menu-link">Explore</a></li>
      <li class="pure-menu-item" [class.pure-menu-selected]="view === 3"><a href="/contact" class="pure-menu-link">Contact</a></li>
    </ul>
  </div>
</div>
