.container {
    height: 70%;
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

