<div class="container custom-scroll-bar">
  <div class="image-container"></div>
  <div class="splash">
    <div class="center-view">
      <h1 class="splash-head">Mission</h1>
      <p class="splash-subhead">
        Our mission is to bring impartial evidence from peer-reviewed literature
        on the outcomes of agricultural management practices and food system
        interventions to anyone that is curious. We do this in a way that is
        geospatially explicit, so you can see first hand the scientific data
        underlying the big ideas and claims in the media and elsewhere on food
        system transformations.
      </p>
    </div>
  </div>
  <div class="section-container pure-g">
    <div class="section section-a pure-u-1">
      <div class="pure-g center-view icon-view">
        <div class="pure-u-1-3">
          <div class="icon plant pure-u-1"></div>
          <h4 class="dblue-fnt">Agricultural Management</h4>
          <p>A focus on the science behind the big claims in farming.</p>
        </div>
        <div class="pure-u-1-3">
          <div class="icon graph pure-u-1"></div>
          <h4 class="dblue-fnt">Geospatial Interface</h4>
          <p>
            A dynamic interface which rescales the strength of the evidence for
            any location on the planet.
          </p>
        </div>
        <div class="pure-u-1-3">
          <div class="icon database pure-u-1"></div>
          <h4 class="dblue-fnt">Harmonized Database</h4>
          <p>More than 144,000 paired observations of yields.</p>
        </div>
      </div>
    </div>
    <div class="section section-b pure-u-1">
      <div class="pure-g">
        <div class="title pure-u-1-1">
          <h3>Frequently Asked Questions</h3>
        </div>
        <div class="pure-u-7-8 center-view">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight="92px">
                <mat-panel-title> Who is behind Farm Geek? </mat-panel-title>
              </mat-expansion-panel-header>
              Farm Geek is led by Dr Zia Mehrabi and Dr Navin Ramankutty, two
              researchers who had the pleasure of working together for several
              years at the University of British Columbia. Both are data nerds
              who care deeply about the latest evidence on sustainable food
              systems.
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight="92px">
                <mat-panel-title> What is JAMES? </mat-panel-title>
              </mat-expansion-panel-header>
              JAMES is a Javascript-based Agricultural Mapping and Evidence
              Synthesis engine, it is the code and architecture that makes Farm
              Geek work.
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight="92px">
                <mat-panel-title> Is JAMES automated? </mat-panel-title>
              </mat-expansion-panel-header>
              While Farm Geek is a dynamic interface, JAMES is not yet fully
              automated -- in particular the database harmonization process.
              However, we are testing and working on automated methods for
              continuously searching and scraping agricultural evidence from
              scientific publications.
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight="92px">
                <mat-panel-title>
                  Why does JAMES not yet know about XYZ?
                </mat-panel-title>
              </mat-expansion-panel-header>
              We synthesize data across key questions and big claims which
              affect farming outcomes. We will add more data as we can, and as
              we gather feedback from the community on the benefits of this
              service. If you have a suggestion for an intervention type or
              outcome we have not yet covered please let us know by using our
              contact us page.
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight="92px">
                <mat-panel-title>
                  Are there plans to expand the outcomes beyond yields?
                </mat-panel-title>
              </mat-expansion-panel-header>
              Yes, we are working on ways to incorporate additional outcomes
              such as biodiversity, and other aspects of environmental and human
              health.
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight="92px">
                <mat-panel-title>
                  How can I provide feedback on this website?
                </mat-panel-title>
              </mat-expansion-panel-header>
              We’d love to hear from you. If you have any suggestions on ways to
              improve Farm Geek please get in touch by using our contact us
              page.
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight="92px">
                <mat-panel-title>
                  Can I collaborate on this project?
                </mat-panel-title>
              </mat-expansion-panel-header>
              If you are a researcher, farmer, or anyone else that has ideas for
              new data sets and features for this website, we’d love to hear
              from you, please get in touch by using our contact us form.
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header collapsedHeight="92px">
                <mat-panel-title> Who funded this work? </mat-panel-title>
              </mat-expansion-panel-header>
              This work is a side project and is largely unfunded, but was
              supported in part by Navin Ramankutty’s Canada Research Chair
              position. If you are interested in partnering to fund new or
              existing features we’d love to hear from you!
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div class="section footer pure-u-1">
      <div class="pure-g">
        <div class="pure-u-1-3 center-view logos">
          <img src="../../../assets/icons/UBC-logo.png" />
          <!-- <img src="../../../assets/icons/UBC-logo.png" /> new logo here -->
        </div>
      </div>
    </div>
  </div>
</div>
