/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

body {
  --orange-accent: #FFB03A;
  --dark-blue: #4B6ECB;
  --light-blue: #A5D6FF;
  --dark-grey: #3f3f3f;
  --light-backgrnd: #F6F7FA;
  --white-color: #ffffff;
  --text-font: 'Source Sans Pro', sans-serif;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--dark-grey);
}

h3 {
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 1.5em;
  color: var(--dark-grey);
}

p {
  font-family: var(--text-font);
  color: var(--dark-grey);
}

.dblue-fnt {
  color: var(--dark-blue);
}